/* 
1. 선택자 {속성}
2. .클래스의값 {속성}
3. #id의 값 {속성}
우선 순위 3 → 2 → 1
*/

a{
    color:cornflowerblue;
    text-decoration: none;
}

h1{
    font-size: 45px;
    /* .center로 중복 제거
    text-align: center;
    */
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

.center{
    text-align: center;
}
/*
#gird{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

** 이런 것도 가능 **
#gird ol{속성} → 아이디가 gird인 ol 태그만 CSS 적용
*/